<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/header", { title: "404 Error"}) %>
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    .sign {
      text-align: center;
    }
    div > * {
      font-size: 2rem;
    }
    .emoji {
      font-size: 5rem;
    }
  </style>
  <body>
    <div class="sign">
      <p class="emoji">­Ъце</p>
      <h1>404 Page Not Found</h1>
      <a href="/">Back to Home ­ЪЈа</a>
    </div>
  </body>
</html>
